.map-container {
    height: 500px;
    width: 100%;
    position: relative;
}

.map-wrapper {
    position: relative;
    overflow: hidden;
}

.map-wrapper iframe {
    position: relative;
    top: -70px;
    width: 82rem;
    height: 25rem;
    border-left: 0;
}