.landing-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}